div {
  padding: 5px;
  width: 300px;
   vertical-align: top;
  display: inline-block;
}
#sh{
    margin-left: 150px;
}
#tt{
  background-color: black; color: whitesmoke;
}
button{
  background-color: grey; color: whitesmoke;
}
.pp{
  margin-left: 300px;
}
.ppp{
  margin-left: 500px;
}
.same{
  display: inline-block;
  font-size: 50px; 
   font: bold;
}
.p{
  margin-right: 300px;
}