#img1{
    display: inline-block;
    margin: 50px;
    padding: 20px;
    height: 500px;
    width: 600px;
    text-align: center;
    vertical-align: top;
    background-color: teal;
}
#img2{
    display: inline-block;
    margin: 50px;
    padding: 20px;
    height: 500px;
    width: 600px;
   
   
    
    vertical-align: top;
    overflow: scroll;
  
    
}